<div class="row">
    <div class="col-lg-2">
        <a [routerLink]="['/main/email-domains']" class="btn btn-outline-secondary">
            Back
        </a>
    </div>
</div>
<br />
<div class="row form-group">
    <div class="col-lg-3">
        <label>Email Domain Id</label>
        <input [(ngModel)]="emailDomain.emailDomainId" type="text" class="form-control" readonly/>
    </div>
    <div class="col-lg-3">
        <label>Email Domain Name</label>
        <input [(ngModel)]="emailDomain.emailDomainName" type="text" class="form-control" />
    </div>
    <div class="col-lg-3">
        <label>Is Blacklisted</label>
        <input [(ngModel)]="emailDomain.isBlackListed" type="checkbox" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">
        <a (click)="saveData()" class="btn btn-success">
            Save
        </a>
    </div>
</div>