<div class="row">
    <div class="col-lg-2">
        <a [routerLink]="['/main/customers']" class="btn btn-outline-secondary">
            Back
        </a>
    </div>
</div>
<br />
<div class="row form-group">
    <div class="col-lg-3">
        <label>Customer Id</label>
        <input [(ngModel)]="customer.customerId" type="text" class="form-control" readonly/>
    </div>
    <div class="col-lg-3">
        <label>First Name</label>
        <input [(ngModel)]="customer.firstName" type="text" class="form-control" />
    </div>
    <div class="col-lg-3">
        <label>Last Name</label>
        <input [(ngModel)]="customer.lastName" type="text" class="form-control" />
    </div>
    <div class="col-lg-3">
        <label>Title</label>
        <input [(ngModel)]="customer.title" type="text" class="form-control" />
    </div>
    <div class="col-lg-3">
        <label>Date of Birth</label>
        <input [(ngModel)]="customer.dateOfBirth" type="text" class="form-control" />
    </div>
    <div class="col-lg-3">
        <label>Mobile</label>
        <input [(ngModel)]="customer.mobile" type="text" class="form-control" />
    </div>
    <div class="col-lg-3">
        <label>Email</label>
        <input [(ngModel)]="customer.email" type="text" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">
        <a (click)="saveData()" class="btn btn-success">
            Save
        </a>
    </div>
</div>