<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-2">
            <h4>Quote Calculator</h4>
        </div>
    </div>
    <br />
    <div class="row justify-content-md-center">
        <div class="col-lg-3">
            <label>How much do you need?</label>
            <input [(ngModel)]="loan.loanAmount" type="number" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label>Terms</label>
            <input [(ngModel)]="loan.repaymentTerms" type="number" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label>Product</label>
            <select [(ngModel)]="loan.productId" class="form-select">
                <option *ngFor="let product of products" [value]="product.productId">{{product.productName}}</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-3">
            <label>Title</label>
            <input [(ngModel)]="customer.title" type="text" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label>First Name</label>
            <input [(ngModel)]="customer.firstName" type="text" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label>Last Name</label>
            <input [(ngModel)]="customer.lastName" type="text" class="form-control" />
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-3">
            <label>Mobile</label>
            <input [(ngModel)]="customer.mobile" type="text" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label>Email</label>
            <input [(ngModel)]="customer.email" type="text" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row justify-content-md-center">
        <div class="col-lg-2">
            <a (click)="saveData()" class="btn btn-success">Calculate Quote</a>
        </div>
    </div>
</div>